
/* ==========================================================================
   MOBILE FIRST (min-width)
   ========================================================================== */
   $mobile: 320px;
   $mobile-landscape: 480px;
   $small-tablet: 600px;
   $medium-tablet: 768px;
   $tablet: 800px;
   $desktop: 992px;
   $wide-desktop: 1200px;
   
   /* ==========================================================================
      NON-MOBILE FIRST (max-width)
      ========================================================================== */
   $max-mobile-landscape: max-width px-to-rem($mobile-landscape - 1);
   $max-small-tablet: max-width px-to-rem($small-tablet - 1);
   $max-medium-tablet: max-width px-to-rem($medium-tablet - 1);
   $max-tablet: max-width px-to-rem($tablet - 1);
   $max-desktop: max-width px-to-rem($desktop - 1);
   $max-wide-desktop: max-width px-to-rem($wide-desktop - 1);
   $min-medium-tablet: min-width px-to-rem($medium-tablet);
   $min-desktop: min-width px-to-rem($desktop - 1);
   
   /* ==========================================================================
      TARGETED RANGES (min-width and max-width)
      ========================================================================== */
   $target-mobile: (width $mobile $mobile-landscape);
   $target-mobile-landscape: (width $mobile-landscape $small-tablet);
   $target-mobile-landscape-desktop: (width $mobile-landscape $desktop);
   $target-tablet: (width $small-tablet $tablet);
   $target-small-tablet-desktop: (width $small-tablet $desktop);
   $target-tablet-desktop: (width $tablet $desktop);
   $target-desktop: (width $desktop $wide-desktop);
   
   /* ==========================================================================
      MEDIA TYPES
      ========================================================================== */
   $print: print;
   $screen: screen;
   
   
   /* ==========================================================================
      TARGETED HEIGHT (min-height and max-height)
      ========================================================================== */
   
   $desktop-height: 768px;
   
   @mixin justIE() {
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
      }
    }