.columns{
    display: flex;
    flex-wrap: wrap;
    .col{
        box-sizing: border-box;
        overflow: hidden;

        img{
            max-width: 100%;
        }
    }


    // two column grid
    &.col-2{
        .col{
            flex-basis: 100%;
            @include breakpoint($desktop){
                flex-basis: 48%;
            }
        }

        &--1-2{
            .col:first-child{
                flex-basis: 100%;
                @include breakpoint($desktop){
                    flex-basis: 33%;
                }
            }
            .col:last-child{
                flex-basis: 100%;
                @include breakpoint($desktop){
                    flex-basis: 66%;
                }
            }
        }
    }
    
    // three column grid
    &.col-3{
        .col{
            flex-basis: 100%;
            @include breakpoint($tablet){
                flex-basis: 33%;
            }
        }
    }

    // four column grid
    &.col-4{
        .col{
            flex-basis: 100%;
            @include breakpoint($desktop){
                flex-basis: 48%;
            }
            @include breakpoint($wide-desktop){
                flex-basis: 23%;
            }
        }
    }


    // alignment
    &--space-between{
        justify-content: space-between;
    }

    &--space-around{
        justify-content: space-around;
    }

    &--direction-row{
        flex-direction: row;
    }
}