// Colors
$primary-dark: #00040c;
$primary-medium: #002981;
$primary-light: #3f7da1;
$primary-xlight: #6eabc3;
$primary-xxlight: #d1def6;

// $secondary-dark: 
$secondary-medium: #73a500;
// $secondary-light: 

// $tertiary-dark: 
// $tertiary-medium: #73a500;
// $tertiary-light: 

$neutral-dark: #000000;
$neutral-medium-dark: #2d2e2e;
$neutral-medium: #7c7e80;
$neutral-medium-light: #c7c7c7;
$neutral-light: #ffffff; 