.button{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: all .3s;
    i{
        margin-left: 15px;
    }
    &--primary-light--inverted{
        border: 4px solid $primary-light;
        background-color: transparent;
        color: $primary-light;
        &:hover{
            background-color: $primary-light !important;
            color: $neutral-light;
            text-decoration: none;
            border: 4px solid $primary-light !important;
        }
    }
}