.heading{
    &--section{
        font-size: 50px;
        font-weight: bold;
        &--primary-medium{
            color: $primary-medium; 
        }
        &--secondary{
            color: $secondary-medium;
        }
        &--neutral-light{
            color: $neutral-light;
        }
    }
    &--h5{
        font-size: 30px;
    }
    &--h6{
        font-size: 18px;
    }
    &--neutral-light{
        color: $neutral-light
    }
    &--fw-300{
        font-weight: 300;
    }
    &--fw-200{
        font-weight: 200;
    }
}