.homepage-slider-component{
    // justify-content: center;
    background-color: $primary-dark;
    &--slider{
        background: $primary-dark;
        background: linear-gradient(90deg, $primary-dark 0%, $primary-medium 23%, $primary-medium 80%,$primary-dark 100%);
        .slide{
            background-size: cover;
            width: 100%;
            padding-bottom: 60%;
            border: 15px solid transparent;
            background-repeat: no-repeat;
        }
    }
    &--content{
        background: $primary-dark;
        background: linear-gradient(90deg, $primary-medium 0%, $primary-dark 100%);
        padding: 20px 10% 20px 20px;
        h2{
            margin: 0;
        }
        .slide-content{
            display: none;
            color: $neutral-light;
            &-active{
                display: block;
            }
            .slider-controls{
                margin: 30px 0;
                .prev, .next{
                    padding: 10px 20px;
                    background-color: $primary-light;
                    color: $neutral-light;
                    margin: 40px 15px 20px 0;
                    opacity: .5;
                    font-size: 18px;
                    &:hover{
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
            &--content{
                font-size: 20px;
                margin-bottom: 30px;
            }
            a.button{
                float: right;
            }
        }
    }
}