.portfolio-slider-component{
    // justify-content: center;
    background-color: $neutral-light;
    &--slider{
        background: $neutral-medium-dark;
        background: linear-gradient(90deg, $neutral-medium-dark 0%, $neutral-medium 23%, $neutral-medium 80%,$neutral-medium-dark 100%);
        .slide{
            background-size: cover;
            width: 100%;
            padding-bottom: 60%;
            border: 15px solid transparent;
            background-repeat: no-repeat;
        }
    }
    &--content{
        background: $neutral-light;
        background: linear-gradient(90deg, $neutral-medium 0%, $neutral-light 100%);
        padding: 20px 10% 20px 20px;
        h2{
            margin: 0;
            margin-bottom: 50px;
        }
        .slide-content{
            display: none;
            color: $neutral-light;
            &-active{
                display: block;
            }
            .slider-controls{
                margin: 30px 0;
                .prev, .next{
                    padding: 10px 20px;
                    background-color: $primary-xlight;
                    color: $neutral-light;
                    margin: 40px 15px 20px 0;
                    opacity: .5;
                    font-size: 18px;
                    &:hover{
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
            &--content{
                font-size: 20px;
                margin-bottom: 30px;
                color: $neutral-dark;
            }
            a.button{
                float: right;
            }
        }
    }
    .portfolio-blocks{
        width: 100%;
        display: none;
        &-active{
            display: block;
        }
        &--block{
            display: flex;
            position: relative;
            justify-content: space-between;
            margin-bottom: 50px;
            flex-direction: column;
            -webkit-animation: opAnimation 2s ease 1;
            -moz-animation: opAnimation 2s ease 1;
            animation: opAnimation 2s ease 1;
            @include breakpoint($wide-desktop){
                flex-direction: row;
                padding-top: 30px;
            }
            &:first-child{
                margin-top: 50px;
            }
            flex-wrap: wrap;
            @include breakpoint($wide-desktop){
                padding-bottom: 9%;
            }
            &:nth-child(even){
                @include breakpoint($wide-desktop){
                    flex-direction: row-reverse;
                }
            }
            .background-decoration{
                position: absolute;
                left: 0;
                bottom: 0;
                min-height: 100%;
                width: 100%;
                @include breakpoint($wide-desktop){
                    min-height: 73%;
                }
            }
            &--content{
                flex-basis: 50%;
                padding: 0 20px;
                @include breakpoint($wide-desktop){
                    padding: 0;
                }
                h3{
                    font-size: 30px;
                    font-weight: bold;
                    position: relative;
                    z-index: 1;
                    @include breakpoint($tablet){
                        font-size: 50px;
                    }
                    @include breakpoint($wide-desktop){
                        font-size: 94px;
                    }
                }
                &-wrap{
                    position: relative;
                    z-index: 1;
                    @include breakpoint($wide-desktop){
                        padding: 0 30px;
                    }
                    &-content{
                        font-size: 14px;
                        font-weight: bold;
                        padding-bottom: 20px;
                        -webkit-animation: opAnimation 2s ease 1;
                        -moz-animation: opAnimation 2s ease 1;
                        animation: opAnimation 2s ease 1;
                        @include breakpoint($wide-desktop){
                            font-size: 24px;
                        }
                        &-secondary{
                            font-size: 14px;
                            -webkit-animation: opAnimation 2s ease 1;
                            -moz-animation: opAnimation 2s ease 1;
                            animation: opAnimation 2s ease 1;
                            @include breakpoint($wide-desktop){
                                font-size: 24px;
                                position: absolute;
                                width: 200%;
                                left: 0;
                                padding: 20px;
                            }
                            div{
                                @include breakpoint($wide-desktop){
                                    width: 50%;
                                }
                            }
                        }
                        p{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &--img{
                position: relative;
                flex-basis: 50%;
                z-index: 1;
                @include breakpoint($wide-desktop){
                    padding: 0 50px;
                }
            }
            &:nth-child(even){
                .portfolio-blocks--block--content{
                    &-wrap{
                        padding: 0;
                        &-content{
                            &-secondary{
                                @include breakpoint($wide-desktop){
                                    left: -100%;
                                }
                                div{
                                    @include breakpoint($wide-desktop){
                                        margin-left: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
                &.theme5{
                    .portfolio-blocks--block--content-wrap-content-secondary{
                        div{
                            @include breakpoint($wide-desktop){
                                margin-left: calc(50% + 30px);
                                width: calc(50% - 30px);
                            }
                        }
                    }
                }
            }
            &.theme1{
                h3{
                    color: $secondary-medium;
                }
                .portfolio-blocks--block--content{
                    &-wrap{
                        &-content{
                            color: $neutral-light;
                            &-secondary{
                                color: $neutral-light;
                                @include breakpoint($wide-desktop){
                                    background: #001d02;
                                    background: linear-gradient(90deg, #001d02 0%, #000929 100%);
                                }
                            }
                        }
                    }
                }
                .background-decoration{
                    background: #002E8C;
                    background: linear-gradient(90deg, #002E8C 0%, #0E2E6D 100%);
                }
            }
            &.theme2{
                background: transparent linear-gradient(170deg, #002E8C 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
                @include breakpoint($wide-desktop){
                    padding: 40px;
                }
                h3{
                    color: $neutral-light;
                }
                .portfolio-blocks--block--content{
                    @include breakpoint($wide-desktop){
                        padding: 0 50px;
                        background: transparent linear-gradient(90deg, #87898B 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
                    }
                    &-wrap{
                        &-content{
                            color: $neutral-dark;
                            &-secondary{
                                color: $neutral-dark;
                            }
                        }
                    }
                }
                .portfolio-blocks--block--img{
                    padding: 0;
                }
                .background-decoration{
                    background: transparent linear-gradient(90deg, var(--unnamed-color-87898b) 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
                    background: transparent linear-gradient(90deg, #87898B 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
                    opacity: 1; 
                }
            }
            &.theme3{
                background: transparent linear-gradient(90deg, $secondary-medium 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
                mix-blend-mode: multiply;
                opacity: 1;
                h3{
                    color: $secondary-medium;
                    @include breakpoint($wide-desktop){
                        padding: 0 30px;
                    }
                }
                .portfolio-blocks--block--content{
                    background: transparent linear-gradient(170deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
                    opacity: 1;
                    &-wrap{
                        &-content{
                            color: $neutral-dark;
                            &-secondary{
                                color: $neutral-dark;
                            }
                        }
                    }
                }
                .portfolio-blocks--block--img{
                    padding: 0;
                }
                .background-decoration{
                    background: #0E2E6D linear-gradient(90deg, #5AA3BD 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
                    mix-blend-mode: multiply;
                    opacity: 1;
                    @include breakpoint($wide-desktop){
                        min-height: 75%;
                    }
                }
            }
            &.theme4{
                background: linear-gradient(180deg, $secondary-medium, $neutral-light, $neutral-light);
                background-size: 10% 20%;
                background-repeat-y: no-repeat;
                h3{
                    color: $secondary-medium;
                    @include breakpoint($wide-desktop){
                        padding: 0 30px;
                    }
                }
                .portfolio-blocks--block--content{
                    background-color: transparent;
                    &-wrap{
                        @include breakpoint($wide-desktop){
                            background-color: $neutral-light;
                        }
                        &-content{
                            color: $neutral-dark;
                            &-secondary{
                                color: $neutral-dark;
                            }
                        }
                    }
                }
                .portfolio-blocks--block--img{
                    padding: 0;
                }
                .background-decoration{
                    background: transparent linear-gradient(180deg, $neutral-light 0%, #5AA3BD 100%) 0% 0% no-repeat padding-box;
                    mix-blend-mode: multiply;
                    opacity: 1;
                    @include breakpoint($wide-desktop){
                        min-height: 20%;
                    }
                }
            }
            &.theme5{
                h3{
                    color: $neutral-light;
                    @include breakpoint($wide-desktop){
                        padding: 0 30px;
                    }
                }
                .portfolio-blocks--block--content{
                    background: transparent linear-gradient(90deg, #0E2E6D 0%, #5AA3BD 100%) 0% 0% no-repeat padding-box;
                    opacity: 1;
                    &-wrap{
                        @include breakpoint($wide-desktop){
                            padding: 0 30px;
                        }
                        &-content{
                            color: $neutral-light;
                            &-secondary{
                                color: $neutral-light;
                            }
                        }
                    }
                }
                .portfolio-blocks--block--img{
                    padding: 0;
                }
                .background-decoration{
                    background: transparent linear-gradient(180deg, #87898B 0%, #5AA3BD 100%) 0% 0% no-repeat padding-box;
                    mix-blend-mode: multiply;
                    opacity: 1;
                    @include breakpoint($wide-desktop){
                        min-height: 80%;
                    }
                }
            }
            &.theme6{
                h3{
                    color: $primary-medium ;
                }
                .portfolio-blocks--block--content{
                    &-wrap{
                        &-content{
                            color: $neutral-light;
                            &-secondary{
                                color: $neutral-light;
                                @include breakpoint($wide-desktop){
                                    background: #3E7800;
                                    background: linear-gradient(90deg, #3E7800, $primary-medium);
                                    background-size: 130% 130%;
                                }
                            }
                        }
                    }
                }
                .background-decoration{
                    background: #002E8C;
                    background: linear-gradient(90deg, $secondary-medium 0%, $primary-medium 100%);
                }
            }
            &.theme7{
                background: $neutral-light;
                background: linear-gradient(90deg, $neutral-light 0%, $secondary-medium 100%);
                h3{
                    color: $primary-medium;
                }
                .portfolio-blocks--block--content{
                    &-wrap{
                        &-content{
                            color: $neutral-light;
                            &-secondary{
                                color: $neutral-light;
                            }
                        }
                    }
                }
                .background-decoration{
                    background: $secondary-medium;
                    @include breakpoint($wide-desktop){
                        min-height: 13%;
                    }
                }
            }
            &.theme8{
                h3{
                    color: $secondary-medium;
                }
                .portfolio-blocks--block--content{
                    &-wrap{
                        &-content{
                            color: $neutral-light;
                            color: $neutral-light;
                            &-secondary{
                                color: $neutral-light;
                                @include breakpoint($wide-desktop){
                                    background: #001d02;
                                    background: linear-gradient(90deg, #79B4CA 0%, transparent 100%);
                                }
                            }
                        }
                    }
                }
                .background-decoration{
                    background: #002E8C;
                }
            }
        }
    }
}


@-webkit-keyframes opAnimation {
    0%{opacity:0}
    100%{opacity:1}
}
@-moz-keyframes opAnimation {
    0%{opacity:0}
    100%{opacity:1}
}
@keyframes opAnimation {
    0%{opacity:0}
    100%{opacity:1}
}