@mixin team-member{
    flex-basis: 49%;
    background-color: $primary-medium;
    margin-bottom: 10px;
    @include breakpoint($desktop){
        flex-basis: 24%;
    }
    img{
        margin-top: 20px;
    }
    &-content{
        padding: 15px;
    }
}
.team-slider-component{
    background-color: $neutral-light;
    position: relative;
    &.expanded{
        min-height: 600px;
    }
    &--slider{
        background: $primary-dark;
        background: linear-gradient(90deg, $primary-dark 0%, $primary-xlight 23%, $primary-xlight 80%,$primary-dark 100%);
        .slide{
            background-size: cover;
            // width: 100%;
            // padding-bottom: 60%;
            border: 15px solid transparent;
            background-repeat: no-repeat;
            .team-members-wrap{
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                cursor: pointer;
                flex-wrap: wrap;
                width: 100%;
                .team-member{
                    @include team-member;
                }
            }
        }
    }
    &--content{
        background: $primary-dark;
        background: linear-gradient(90deg, $primary-xlight 0%, $neutral-light 100%);
        padding: 20px 10% 20px 20px;
        h2{
            margin: 0;
        }
        .slide-content{
            display: none;
            color: $neutral-light;
            &-active{
                display: block;
            }
            .slider-controls{
                margin: 30px 0;
                .prev, .next{
                    padding: 10px 20px;
                    background-color: $primary-light;
                    color: $neutral-light;
                    margin: 40px 15px 20px 0;
                    opacity: .5;
                    font-size: 18px;
                    &:hover{
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
            &--content{
                font-size: 20px;
                margin-bottom: 30px;
                p{
                    color: $primary-dark;
                }
            }
            a.button{
                float: right;
            }
        }
    }
    &--popup{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $primary-xlight;
        display: none;
        flex-wrap: wrap;
        .team-member{
            @include team-member;
            flex-basis: 100%;
            @include breakpoint($desktop){
                flex-basis: 25%;
            }
        }
        .team-member--content{
            padding: 30px 50px 30px 30px;
            color: $primary-dark;
            flex-basis: 100%;
            @include breakpoint($desktop){
                flex-basis: 75%;
            }
        }
        &-close{
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: $primary-light;
            color: $neutral-light;
            padding: 5px 7px;
            opacity: .5;
            font-size: 25px;
            line-height: 20px;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                opacity: 1;
                color: $neutral-light;
            }
        }
    }
}